header {
    padding: 0rem 1rem;
    background: black;
    color: white;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1, p {
        margin: 0;
    }
}

main {
    height: calc(100vh - 100px);
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}