<h2>Spreadsheet</h2>
<ngx-spreadsheet></ngx-spreadsheet>

<h2>Select component</h2>
<ngx-select [config]="config" [(ngModel)]="selectValue" name="select-value" placeholder="Select some value!">
  <ng-container *ngxSelectValue="let value">{{ value }}</ng-container>
  <ng-container *ngxSelectOption="let option">{{ option }}</ng-container>
  <ngx-select-loading>Loading...</ngx-select-loading>
  <ngx-select-empty>Nothing found</ngx-select-empty>
  <ng-container *ngxSelectClear>Clear</ng-container>
</ngx-select>

<h2>Boolean Select component</h2>
<ngx-select [config]="selectBooleanConfig" [(ngModel)]="booleanSelectValue" name="boolean-select-value"
  placeholder="Select some value!">
  <ng-container *ngxSelectValue="let value">{{ value ? "Yes" : "No" }}</ng-container>
  <ng-container *ngxSelectOption="let option">{{ option ? "Yes" : "No" }}</ng-container>
  <ng-container *ngxSelectClear>Clear</ng-container>
</ngx-select>

<h2>Select component [multi]</h2>
<ngx-select [config]="multiConfig" [(ngModel)]="multiSelectValue" (ngModelChange)="onMultiSelectValueChange($event)"
  name="multi-select-value" placeholder="Select some value!">
  <ng-container *ngxSelectValue="let value">{{ value }}</ng-container>
  <ng-container *ngxSelectOption="let option">{{ option }}</ng-container>
  <ngx-select-loading>Loading...</ngx-select-loading>
  <ngx-select-empty>Nothing found</ngx-select-empty>
  <ng-container *ngxSelectClear>Clear</ng-container>
</ngx-select>

<h2>Tabs</h2>
<ngx-tabs [tabs]="tabs" [index]="activeTabIndex">
  <ng-container ngxTab="tab1">
    <ng-container *ngxTabLabel>Tab 1</ng-container>
    <ng-container *ngxTabContent>Tab 1 Content</ng-container>
  </ng-container>
  <ng-container ngxTab="tab2">
    <ng-container *ngxTabLabel>Tab 2</ng-container>
    <ng-container *ngxTabContent>Tab 2 Content</ng-container>
  </ng-container>
  <ng-container ngxTab="tab3">
    <ng-container *ngxTabLabel>Tab 3</ng-container>
    <ng-container *ngxTabContent>Tab 3 Content</ng-container>
  </ng-container>
</ngx-tabs>
<button (click)="onTwoTabsClick()">2 Tabs</button>
<button (click)="onThreeTabsClick()">3 Tabs</button>
<button (click)="onTabIndexSelect(0)">Index 0</button>
<button (click)="onTabIndexSelect(1)">Index 1</button>
<h2>Accordion</h2>
<ngx-accordion [single]="true">
  <ngx-accordion-item>
    <ngx-accordion-heading>Helo there</ngx-accordion-heading>
    <ngx-accordion-content>Hello there content</ngx-accordion-content>
  </ngx-accordion-item>
  <ngx-accordion-item>
    <ngx-accordion-heading>Bye there</ngx-accordion-heading>
    <ngx-accordion-content>Bye there content</ngx-accordion-content>
  </ngx-accordion-item>
</ngx-accordion>
<h2>Pagination</h2>
<ngx-pagination [(ngModel)]="currentPage" [size]="5" [total]="10">
  <ngx-pagination-first>first</ngx-pagination-first>
  <ngx-pagination-prev>prev</ngx-pagination-prev>
  <ngx-pagination-next>next</ngx-pagination-next>
  <ngx-pagination-last>last</ngx-pagination-last>
  <ngx-pagination-summary>{{ currentPage }}/{{ 10 }}</ngx-pagination-summary>
</ngx-pagination>
<h2>List</h2>
<ngx-list>
  <ngx-list-header>
    Hello list!
  </ngx-list-header>
  <ngx-list-item>
    Item1
  </ngx-list-item>
  <ngx-list-item>
    Item2
  </ngx-list-item>
  <ngx-list-group>
    <ngx-list-divider>A</ngx-list-divider>
    <ngx-list-item>Adam</ngx-list-item>
  </ngx-list-group>
</ngx-list>
<h2>Collapsible</h2>
<button *ngxCollapsibleToggle>Toggle</button>
<button *ngxCollapsibleCollapse>Collapse</button>
<button *ngxCollapsibleExpand>Expand</button>
<div *ngxCollapsible>Collapsible content</div>
<h2>Table</h2>
<ngx-table [data]="options" [config]="tableConfig" [sort]="tableSort" (sortChange)="onSortChange($event)"
  (rowClick)="onRowClick($event)">
  <ngx-table-empty>No data to be displayed</ngx-table-empty>
  <ng-container ngxColumnDefinition="Header1">
    <th class="ngx-table-header" sortable="true" *ngxHeaderDefinition>Header 1</th>
    <td class="ngx-table-cell" *ngxCellDefinition="let item">{{ item }}</td>
  </ng-container>
  <ng-container ngxColumnDefinition="Header2">
    <th class="ngx-table-header" sortable="true" *ngxHeaderDefinition>Header 2</th>
    <td class="ngx-table-cell" *ngxCellDefinition="let item">{{ item }}</td>
  </ng-container>
  <ng-container ngxColumnDefinition="Actions">
    <th class="ngx-table-header" sortable="false" *ngxHeaderDefinition></th>
    <td class="ngx-table-cell" *ngxCellDefinition="let item; let idx = index">
      <button *ngxCollapsibleToggle="'Item' + idx">Toggle</button>
    </td>
  </ng-container>

  <ng-container *ngxExpansionDefinition="let item; let idx = index">
    <ng-container *ngxCollapsible="'Item' + idx; isCollapsedAsDefault:true">
      <tr class="ngx-table-row">
        <td colspan="3">Expanded {{ item }} row1</td>
      </tr>
      <tr class="ngx-table-row">
        <td colspan="3">Expanded {{ item }} row2</td>
      </tr>
    </ng-container>
  </ng-container>
</ngx-table>
<h2>Card</h2>
<ngx-card>
  <ngx-card-header>Header</ngx-card-header>
  <ngx-card-content>Content</ngx-card-content>
  <ngx-card-footer>Footer</ngx-card-footer>
</ngx-card>
<h2>Input</h2>
<ngx-input [(ngModel)]="inputValue">
  <ngx-input-prefix>
    <button>Clear</button>
  </ngx-input-prefix>
  <ngx-input-postfix>
    <button (click)="onInputLog($event)">Log</button>
  </ngx-input-postfix>
</ngx-input>
<ngx-input [disabled]="true"></ngx-input>
<!-- <h2>Calendar</h2>
<ngx-calendar>
  <ng-container *ngxCalendarNext>&rarr;</ng-container>
  <ng-container *ngxCalendarPrev>&larr;</ng-container>
  <ng-container *ngxCalendarCurrent="let current">{{ current }}</ng-container>
  <ng-container *ngxCalendarLabel="let label">{{ label }}</ng-container>
  <ng-container *ngxCalendarDay="let day">{{ day.day }}</ng-container>
</ngx-calendar> -->

<ngx-stack-layout orientation="horizontal">
  <div>Content 1</div>
  <div>Content 2</div>
</ngx-stack-layout>