<h2>Select component</h2>
<ngx-select [config]="config" [(ngModel)]="selectValue" name="select-value" placeholder="Select some value!">
  <ng-container *ngxSelectValue="let value">{{ value }}</ng-container>
  <ng-container *ngxSelectOption="let option">{{ option }}</ng-container>
  <ngx-select-loading>Loading...</ngx-select-loading>
  <ngx-select-empty>Nothing found</ngx-select-empty>
  <ngx-select-clear>Clear</ngx-select-clear>
</ngx-select>

<h2>Tabs</h2>
<ngx-tabs [tabs]="tabs" [index]="activeTabIndex">
  <ng-container ngxTab="tab1">
    <ng-container *ngxTabLabel>Tab 1</ng-container>
    <ng-container *ngxTabContent>Tab 1 Content</ng-container>
  </ng-container>
  <ng-container ngxTab="tab2">
    <ng-container *ngxTabLabel>Tab 2</ng-container>
    <ng-container *ngxTabContent>Tab 2 Content</ng-container>
  </ng-container>
  <ng-container ngxTab="tab3">
    <ng-container *ngxTabLabel>Tab 3</ng-container>
    <ng-container *ngxTabContent>Tab 3 Content</ng-container>
  </ng-container>
</ngx-tabs>
<button (click)="onTwoTabsClick()">2 Tabs</button>
<button (click)="onThreeTabsClick()">3 Tabs</button>
<button (click)="onTabIndexSelect(0)">Index 0</button>
<button (click)="onTabIndexSelect(1)">Index 1</button>
<h2>Accordion</h2>
<ngx-accordion [single]="true">
  <ngx-accordion-item>
    <ngx-accordion-heading>Helo there</ngx-accordion-heading>
    <ngx-accordion-content>Hello there content</ngx-accordion-content>
  </ngx-accordion-item>
  <ngx-accordion-item>
    <ngx-accordion-heading>Bye there</ngx-accordion-heading>
    <ngx-accordion-content>Bye there content</ngx-accordion-content>
  </ngx-accordion-item>
</ngx-accordion>
<h2>Pagination</h2>
<ngx-pagination [(ngModel)]="currentPage" [size]="5" [total]="10">
  <ngx-pagination-first>first</ngx-pagination-first>
  <ngx-pagination-prev>prev</ngx-pagination-prev>
  <ngx-pagination-next>next</ngx-pagination-next>
  <ngx-pagination-last>last</ngx-pagination-last>
  <ngx-pagination-summary>{{ currentPage }}/{{ 10 }}</ngx-pagination-summary>
</ngx-pagination>
<h2>List</h2>
<ngx-list>
  <ngx-list-header>
    Hello list!
  </ngx-list-header>
  <ngx-list-item>
    Item1
  </ngx-list-item>
  <ngx-list-item>
    Item2
  </ngx-list-item>
  <ngx-list-group>
    <ngx-list-divider>A</ngx-list-divider>
    <ngx-list-item>Adam</ngx-list-item>
  </ngx-list-group>
</ngx-list>
<h2>Collapsible</h2>
<button *ngxCollapsibleToggle>Toggle</button>
<button *ngxCollapsibleCollapse>Collapse</button>
<button *ngxCollapsibleExpand>Expand</button>
<div *ngxCollapsible>Collapsible content</div>
<h2>Table</h2>
<ngx-table [data]="options" [config]="tableConfig" [sort]="tableSort" (sortChange)="onSortChange($event)">
  <ng-container ngxColumnDefinition="Header1">
    <ngx-table-header sortable="true" *ngxHeaderDefinition>Header 1</ngx-table-header>
    <ngx-table-cell *ngxCellDefinition="let item">{{ item }}</ngx-table-cell>
  </ng-container>
  <ng-container ngxColumnDefinition="Header2">
    <ngx-table-header sortable="true" *ngxHeaderDefinition>Header 2</ngx-table-header>
    <ngx-table-cell *ngxCellDefinition="let item">{{ item }}</ngx-table-cell>
  </ng-container>
</ngx-table>
<h2>Card</h2>
<ngx-card>
  <ngx-card-header>Header</ngx-card-header>
  <ngx-card-content>Content</ngx-card-content>
  <ngx-card-footer>Footer</ngx-card-footer>
</ngx-card>