// Colors
$color-primary: #1abc9c;
$color-secondary: "";
$color-dark: #34495e;
$color-gray: #d9dcde;
$color-gray-light: lighten($color-gray, 10%);
$color-gray-dark: darken($color-gray, 10%);

// Paddings
// Form input padding (select, button, input, ...)
$padding-form-input: 0.75rem 1rem; 